@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #d9d9d9;
}

.container {
  justify-content: center;
}

.box {
  background: #add2d2;
  height: 600px;
  width: 600px;
  justify-content: space-evenly;
  text-align: center;
}
